# Ignore node_modules directory
node_modules

# Ignore distribution directory (created by build)
dist

# Ignore cache directory
.angular-cache

# Ignore development logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore environment files (if any, usually handled by Angular build process)
# src/environments/*.ts (Keep these, Angular uses them during build)

# Ignore Docker files themselves
Dockerfile
# nginx.conf
.dockerignore

# Ignore Git directory
.git
.gitignore
