<div class="file-upload-container">
  <div class="file-input-wrapper">
    <input 
      type="file" 
      [id]="inputId"
      [accept]="accept"
      [multiple]="multiple" 
      (change)="onFileChange($event)" 
      class="file-input"
    >
    <label [for]="inputId" class="file-label">
      <span class="file-icon">📎</span>
      <span class="file-text">
        <ng-container *ngIf="selectedFiles.length === 0">{{ label }}</ng-container>
        <ng-container *ngIf="selectedFiles.length === 1">{{ selectedFiles[0].name }}</ng-container>
        <ng-container *ngIf="selectedFiles.length > 1">{{ selectedFiles.length }} files selected</ng-container>
      </span>
    </label>
  </div>
  
  <div *ngIf="selectedFiles.length > 0" class="file-info-wrapper">
    <ul *ngIf="multiple && selectedFiles.length > 1" class="file-list">
      <li *ngFor="let file of selectedFiles" class="file-info-item">
        <span class="file-name">{{ file.name }}</span>
        <span class="file-size">({{ (file.size / 1024 / 1024).toFixed(2) }} MB)</span>
      </li>
    </ul>
    <div *ngIf="selectedFiles.length === 1 && selectedFiles[0]" class="file-info-item single-file-info">
       <span class="file-size">Size: {{ (selectedFiles[0].size / 1024 / 1024).toFixed(2) }} MB</span>
    </div>
    <button type="button" class="clear-button" (click)="clearFiles()">✕ Clear Selection</button>
  </div>
  
  <div *ngIf="error" class="file-error">
    {{ error }}
  </div>
</div>
